TestLib/bin/Debug/net7.0/TestLib.deps.json
TestLib/bin/Debug/net7.0/TestLib.dll
TestLib/bin/Debug/net7.0/TestLib.pdb
TestLib/obj/project.assets.json
TestLib/obj/project.nuget.cache
TestLib/obj/TestLib.csproj.nuget.dgspec.json
TestLib/obj/TestLib.csproj.nuget.g.props
TestLib/obj/TestLib.csproj.nuget.g.targets
TestLib/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
TestLib/obj/Debug/net7.0/TestLib.AssemblyInfo.cs
TestLib/obj/Debug/net7.0/TestLib.AssemblyInfoInputs.cache
TestLib/obj/Debug/net7.0/TestLib.assets.cache
TestLib/obj/Debug/net7.0/TestLib.csproj.AssemblyReference.cache
TestLib/obj/Debug/net7.0/TestLib.csproj.CoreCompileInputs.cache
TestLib/obj/Debug/net7.0/TestLib.csproj.FileListAbsolute.txt
TestLib/obj/Debug/net7.0/TestLib.dll
TestLib/obj/Debug/net7.0/TestLib.GeneratedMSBuildEditorConfig.editorconfig
TestLib/obj/Debug/net7.0/TestLib.GlobalUsings.g.cs
TestLib/obj/Debug/net7.0/TestLib.pdb
TestLib/obj/Debug/net7.0/ref/TestLib.dll
TestLib/obj/Debug/net7.0/refint/TestLib.dll
MainApp/bin/Debug/net7.0/MainApp.deps.json
MainApp/bin/Debug/net7.0/MainApp.dll
MainApp/bin/Debug/net7.0/MainApp.exe
MainApp/bin/Debug/net7.0/MainApp.pdb
MainApp/bin/Debug/net7.0/MainApp.runtimeconfig.json
MainApp/bin/Debug/net7.0/TestLib.dll
MainApp/bin/Debug/net7.0/TestLib.pdb
MainApp/obj/MainApp.csproj.nuget.dgspec.json
MainApp/obj/MainApp.csproj.nuget.g.props
MainApp/obj/MainApp.csproj.nuget.g.targets
MainApp/obj/project.assets.json
MainApp/obj/project.nuget.cache
MainApp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MainApp/obj/Debug/net7.0/apphost.exe
MainApp/obj/Debug/net7.0/MainApp.AssemblyInfo.cs
MainApp/obj/Debug/net7.0/MainApp.AssemblyInfoInputs.cache
MainApp/obj/Debug/net7.0/MainApp.assets.cache
MainApp/obj/Debug/net7.0/MainApp.csproj.AssemblyReference.cache
MainApp/obj/Debug/net7.0/MainApp.csproj.CopyComplete
MainApp/obj/Debug/net7.0/MainApp.csproj.CoreCompileInputs.cache
MainApp/obj/Debug/net7.0/MainApp.csproj.FileListAbsolute.txt
MainApp/obj/Debug/net7.0/MainApp.dll
MainApp/obj/Debug/net7.0/MainApp.GeneratedMSBuildEditorConfig.editorconfig
MainApp/obj/Debug/net7.0/MainApp.genruntimeconfig.cache
MainApp/obj/Debug/net7.0/MainApp.GlobalUsings.g.cs
MainApp/obj/Debug/net7.0/MainApp.pdb
MainApp/obj/Debug/net7.0/ref/MainApp.dll
MainApp/obj/Debug/net7.0/refint/MainApp.dll

.fake
MainApp/bin/Debug/net7.0/JetBrains.Annotations.dll
MainApp/bin/Debug/net7.0/log.txt
MainApp/bin/Debug/net7.0/log4net.dll
MainApp/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
MainApp/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
MainApp/bin/Debug/net7.0/System.Security.Permissions.dll
MainApp/bin/Debug/net7.0/logs/logfile.txt
MainApp/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
